@font-face {
    font-family: 'Pretendard-Regular'; 
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); 
    font-weight: 400; 
    font-style: normal; 
}
*{
    font-family: 'Pretendard-Regular';
}
.header{
    height: 100px;
}
.board-title{
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 60%;
    margin: 10px auto;
}
.search{ 
	height: 34px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px ;
    border-radius: 10px;
    background-color: #D6E6FF;
    color : rgb(116, 111, 111);
    font-family: 'Pretendard-Regular';
    padding: 10px 0 10px 0;
}
#search{
    height: 30px;
    position: absolute;
    left: 35%;
    border: 1px ;
    border-radius: 10px;
    color : rgb(116, 111, 111);
    background-color: rgba(0,0,0,0);
    outline: none;
}
#subjectse2{
	position: absolute;
	top: 15.5px;
	left: 15px;
    max-width: fit-content;
    margin-left: 0px;
    outline: none;
    background-color: transparent;
    border: 2px ; 
    border-radius: 10px;
    border-color: #1D2C62;
    color: #3B5998;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}
.container{
    padding: 10px;
    margin: 20px;
    border: 1px solid;
    border-color: #e4e4e4;
    width: 60%;
    margin: 10px auto; 
}
.line{
    padding: 10px;
    padding-right: 20px;
    text-align: right;
    border-bottom: 3px solid rgb(213, 223, 250);
    color : rgb(179, 177, 177);
    font-weight: bold;
}


.write{
    overflow-anchor: auto;
    margin: 10px;
    padding: 20px;
    border: 1px ;
    background-color: #fbfcff;
    border-radius: 10px;
    max-height: 70PX;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin-bottom: 20px;
}
.delete{
	margin: 0 .2rem;
    padding: .2rem .5rem;
    background-color: rgb(203, 230, 255);
    border-radius: 10px;
    font-family: 'Pretendard-Regular';
    font-size: .8rem;
    color : lightgray;
}
.subsel{
    width: 100%;
    margin: auto;
}
#subjectsel{
    margin-left: 6px;
    cursor: pointer;
    max-width: fit-content;
    height: 130%;
    outline: none;
    background-color: transparent;
    border: 2px ; 
    border-radius: 10px;
    border-color: #1D2C62;
    text-align: left;
    color: #3B5998;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard-Regular'; 
}

.level{
    position: absolute;
    right: 30%;
    font-family: 'Pretendard-Regular'; 
}
.text{
    display: flex;
    width: 100%;
    border: 2px solid;
    border-color: #749BD6;
    border-radius: 10px;
}
#textbox{
    height: 30px;   
    margin-left: 0px ;
    width: 90%;
    background-color: transparent;
    border: transparent;
    font-size: 16px;
    font-weight: 600;
    border:none;
}
#submit{
    width: 10%;
    min-width: 10%;
    margin: 0px;
    position: relative;
    background-color: #749BD6;
    color: white;
    border-radius: 10px;
    border-color: #d8d7fd;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}

.post{
    overflow-anchor: auto;
    margin: 10px;
    padding: 30px;
    display: flex;
    align-items:center;
    max-height: 50PX;
    border-bottom: 1px solid lightgray;
}

.subject{
    margin-left: 10px;
    margin-right: 5px;
    width : 15%;
    color: #3B5998;
    font-weight: bold;
    overflow: hidden;
    
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard-Regular'; 
}
.title{
    max-width: 60%;
    color : rgb(116, 111, 111);
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard-Regular'; 
}
.time{
    position: absolute;
    right: 23%;
    float: right;
    color:  rgb(116, 111, 111);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Pretendard-Regular'; 
}
#emptyArea {
	margin: auto;
	width: 800px;
	text-align: center;
	font-family: 'Pretendard-Regular';
	margin-top: 20px;
}

#emptyArea a {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-decoration: none;
}

#emptyArea .btn {
	display: inline-block;
	width: 20px;
	height: 20px;
}
#emptyArea .select {
	color: #3B5998;
	font-weight: bold;
}

.hidden-checkbox {
    display: none;
    color: rgb(116, 111, 111);
}
.checkbox-container{
	width: 120px;
}

.sibal{
	display: flex;
}