@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: 'Pretendard-Regular';
}

.header {
	height: 100px;
	font-family: 'Pretendard-Regular';
}

.board-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Pretendard-Regular';
}

.board-title {
	font-weight: bold;
	text-align: center;
	padding: 10px;
	width: 50%;
	margin: 10px auto;
	font-family: 'Pretendard-Regular';
}

.search {
	margin-left: 10px;
	margin-right: 10px;
	border: 1px;
	border-radius: 10px;
	background-color: #D6E6FF;
	padding: 10px;
	color: rgb(116, 111, 111);
	font-family: 'Pretendard-Regular';
}
#selectbar{
	max-width: fit-content;
    margin-left: 0px;
    outline: none;
    background-color: transparent;
    border: 2px;
    border-radius: 10px;
    border-color: #1D2C62;
    text-align: center;
    color: #3B5998;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard-Regular';
}
#search {
	width: 80%;
	min-width: 60%;
	margin: 0px;
	border: 1px;
	border-radius: 10px;
	color: rgb(116, 111, 111);
	background-color: rgba(0, 0, 0, 0);
	font-family: 'Pretendard-Regular';
}

.container {
	padding: 10px;
	margin: 20px;
	border: 1px solid;
	border-color: #e4e4e4;
	width: 50%;
	margin: 0 auto;
	font-family: 'Pretendard-Regular';
}
.left{
	width:90%;
	font-family: 'Pretendard-Regular';
}
.left_bot{
	display : flex;
	font-family: 'Pretendard-Regular';
}
.writer {
	font-size: 12px;
	overflow: hidden;
	font-family: 'Pretendard-Regular';
	margin-right: 12px;
	color: gray;
}
.viewcnt {
	font-size: 12px;
	overflow: hidden;
	font-family: 'Pretendard-Regular';
	margin-right: 12px;
	color: gray;
}
.write {
	padding: 10px;
	padding-right: 20px;
	text-align: right;
	border-bottom: 3px solid rgb(213, 223, 250);
	color: rgb(179, 177, 177);
	font-weight: bold;
	font-family: 'Pretendard-Regular';
}

.post {
	height:30px;
	overflow-anchor: auto;
	margin: 13px;
	padding: 30px;
	border: 1px;
	display: flex;
	border-bottom: 1px solid lightgray;
	font-family: 'Pretendard-Regular';
}

.subject {
	margin-left: 10px;
	margin-right: 10px;
	width: 15%;
	color: #3B5998;
	font-weight: bold;
	overflow: hidden;
	font-family: 'Pretendard-Regular';
}
.right{
	position :inherit;
	width : 10%;
	height : 100%;
	font-family: 'Pretendard-Regular';
}
.commentcnt{
	font-weight: bold;
	font-size: 15px;
	overflow: hidden;
	font-family: 'Pretendard-Regular';
}
.writedate{
	font-size: 12px;
	overflow: hidden;
	font-family: 'Pretendard-Regular';
	color: gray;
}

.title {
	max-width: 100%;
	height : 100%;
	color: rgb(116, 111, 111);
	font-family: 'Pretendard-Regular';
}

.viewcnt {
	margin-left: 10px;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Pretendard-Regular';
}

.commentcnt {
	position: absolute;
	font-weight: bold;
	float: right;
	overflow: hidden;
	font-family: 'Pretendard-Regular';
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Pretendard-Regular';
}

#emptyArea {
	margin: auto;
	width: 800px;
	text-align: center;
	font-family: 'Pretendard-Regular';
	margin-top: 20px;
}

#emptyArea a {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-decoration: none;
	font-family: 'Pretendard-Regular';
}

#emptyArea .btn {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-family: 'Pretendard-Regular';
}

#emptyArea .select {
	color: #3B5998;
	font-weight: bold;
	font-family: 'Pretendard-Regular';
}